 <ion-list-header>Sales Reports</ion-list-header>
      <p>
        <ion-chip outline  [routerLink]="['/admin-store/store/report']" (click) = "gotTo('unit_sold')" color="primary">
          <ion-label>Unit  sold</ion-label>
        </ion-chip>

        <ion-chip outline  color="secondary">
        
          <ion-label>Sales</ion-label>
        </ion-chip>
        <ion-chip outline  color="tertiary">
       
          <ion-label>Cost of Sale</ion-label>
        </ion-chip>
        <ion-chip outline  color="medium">
       
          <ion-label>Discount Allowed</ion-label>
        </ion-chip>
        <ion-chip outline  color="dark">
       
          <ion-label>Tax Report</ion-label>
        </ion-chip>
      </p>

  <ion-list-header>Stock Reports</ion-list-header>
      <p>
        <ion-chip  outline  color="secondary">
          <ion-label>Stock levels</ion-label>
        </ion-chip>

        <ion-chip outline  color="primary">
        
          <ion-label>Total Items out</ion-label>
        </ion-chip>
        <ion-chip outline  color="tertiary">
       
          <ion-label> Return To Supplier</ion-label>
        </ion-chip>
           <ion-chip outline  color="medium">
       
          <ion-label> BOM Listing Report</ion-label>
        </ion-chip>
            <ion-chip outline  color="dark">
       
          <ion-label> Stock Listing Report</ion-label>
        </ion-chip>
         <ion-chip outline  color="primary">
       
          <ion-label> Cost Price</ion-label>
        </ion-chip>
      </p>

    <ion-list-header>Buyers Reports</ion-list-header>
      <p>
        <ion-chip outline  color="primary">
          <ion-label>Consumer Spend</ion-label>
        </ion-chip>

        <ion-chip outline  color="dark">
        
          <ion-label>Add to cart</ion-label>
        </ion-chip>
        <ion-chip outline  color="primary">
       
          <ion-label> unsuccesful Checkout</ion-label>
        </ion-chip>
          <ion-chip outline  color="tertiary">
       
          <ion-label> Store Visitst</ion-label>
        </ion-chip>
      </p>