.product{
	height: 73vh;
    min-width: 43vw;
    display: inline;
    margin:12px;
     border-radius: 25px;
     float:left
}

.secondary {
    background-color:#90DED7;
}
.tertiary {
    background-color:#ffc409;
}
.primary {
    background-color:#018786;
}
.sales_card{
    height: 20vh;
    border-radius: 15px;
}
.sales_label{
    display: block;
    text-align: center;
    padding-bottom: 5px;
    font-size: 20px;
    top: -22px;
    color: white;
    position: relative;
}


.promotion{

margin: 5px;
border-radius: 15px;

}
.product{
	
    margin-bottom: 5px;
    height: 50vw;
 
  
    margin: 12px;
    border-radius: 15px;

    margin-left: 0px;
    margin-right: 0px;
}
.container{
    float: left;
       overflow-x: auto;
        display: flex;
        
   padding-left: 5px;
   padding-right: 5px;
   max-width: 50vw;
   display: initial;
   }