
ion-badge{
    font-size: 10px;
}
.product{
	
    margin-bottom: 5px;
    height: 73vw;
 
    width: 45vw;
    margin: 12px;
    border-radius: 15px;

    margin-left: 0px;
    margin-right: 0px;
}

   .container{
    float: left;

   padding-left: 5px;
   padding-right: 5px;
   max-width: 50vw;
   display: initial;
   }
     
   

.secondary {
    background-color:#90DED7;
}
.tertiary {
    background-color:#ffc409;
}
.primary {
    background-color:#018786;
}
   