.ion-slide{
    height:100vh;
}
.card_license{
    border-radius: 5vw 5vw 5vw 5vw;
  
    width: 70vw;
    overflow: visible;
    height: 68vh;

   

}
.desktop_license{
    border-radius: 40px;
    width: 20vw;
    overflow: visible;
    height: 50vh;
}