<ion-header>
  <ion-toolbar>
    <ion-title>reset-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input formControlName="id" type="hidden"></ion-input>
      <ion-input formControlName="token" type="hidden"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
      <div *ngIf="resetPasswordForm.get('password').invalid && resetPasswordForm.get('password').touched">
        <ion-text *ngIf="resetPasswordForm.get('password').errors?.required" color="danger"><sub>Password is required</sub></ion-text>
        <ion-text *ngIf="resetPasswordForm.get('password').errors?.minlength" color="danger"><sub>Password must be at least 6 Characters</sub></ion-text>
      </div>
    </ion-item>
    <ion-item>
      <ion-input [class.is-invalid]="resetPasswordForm.errors?.misMatch" formControlName="confirmPassword" type="password" placeholder="Confirm Password"></ion-input>
      <ion-text *ngIf="resetPasswordForm.errors?.misMatch" color="danger"><sub>Passwords do not match</sub></ion-text>
    </ion-item>
    <ion-button [disabled]="!resetPasswordForm.valid"  type="submit" color="primary" >Submit</ion-button>
  </form>
  {{resetPasswordForm.value | json}}
</ion-content>
