


  <!--<ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-button *ngFor="let p of profile$.my_store | async" color="light">
        <ion-label (click)="changeStore(p.store_id)">{{p.store_id}}</ion-label>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-fab-list>
  </ion-fab> -->
  <ion-router-outlet></ion-router-outlet>



