.circle{
    width: 225px;
    height: 200px;
    background-color: #018786;
    border-radius: 0px 500px 0px 0px;
    position: fixed;
    left: 0px;
    bottom: 0px;
}
ion-slide{
  height: 35vh;

}
.discountLabel{
    font-size: 50px;
    display:block
}
.promoTitileLabel{
    font-size: 16px;
    display:block
}
.ShortDescriptionLabel{
    font-size: 16px;
    display:block
}
.slideTextPositioning{
    position:fixed;
    text-align: left;
    bottom:0%
}
.buttonPosition{
    position: fixed;
    bottom: 5%;
    left: 70%;
}
.trapezium{
    clip-path: polygon(2% 6%, 95% 0%, 100% 99%, 0 94%);
    height: 10vh;
    width: 55vw;
    background-color: white;
    margin: auto;
}
.container_sale{
    height: 100%;
    width: 100%;
    background-color:  #FFD700;
}
.arrow_right{
    width: 0;
    height: 0;
    border-top: 15vw solid transparent;
    border-bottom: 10vw solid transparent;
    border-left: 10vw solid #018786;
    position: absolute;
    left: 0;
}
.arrow_left{
    width: 0;
    height: 0;
    border-top: 15vw solid transparent;
    border-bottom: 10vw solid transparent;
    border-left: 10vw solid white;
    position: absolute;
    right: -11px;
    bottom: 66px;
    transform: rotate(15deg);
}