<ion-header>
  <ion-toolbar>
    <ion-title>forgotPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input formControlName="email" type="email" placeholder="Enter Your Email Address"></ion-input>
      <div *ngIf="resetPasswordForm.get('email').invalid && resetPasswordForm.get('email').touched">
        <ion-text *ngIf="resetPasswordForm.get('email').errors?.required" color="danger"><sub>email is required</sub></ion-text>
        <ion-text *ngIf="resetPasswordForm.get('email').errors?.maxlength" color="danger"><sub>email must be at most 20 Characters</sub></ion-text>
        <ion-text *ngIf="resetPasswordForm.get('email').errors?.pattern" color="danger"><sub>email e.g user@host.com</sub></ion-text>
      </div>
    </ion-item>
    <ion-button [disabled]="!resetPasswordForm.valid"  type="submit" color="tertiary" >Submit</ion-button>
  </form>
  <ion-item>
    <a color="medium" [routerLink]="['']">Go Back</a>
  </ion-item>
</ion-content>
