
.box{
    background-color: #fef4a9;

    width: 100%;
    height: 100%;
}
.attri sub{
    position: relative;
    display: contents;
    color:#018786;
}


.vl{
    border-left: 1px solid grey;
    position:absolute;
    left:-2px;
    height:15px;
  }
  ion-scroll {
  height: 100px;
  }

  .active_product{
    --background: #018786 !important
}