

 .advanced-pie-legend .total-value {
    font-size: 25px !important;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    font-size: 12px;

    }

    .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-percent {
    font-size: 20px;

    }

    .advanced-pie-legend .total-label {
    font-size: 20px;
    }