<div style="padding-top: 3px;" class="{{order.order_number}}"  *ngFor="let order of orderList$ | async ; let i = index">


</div>

<mat-accordion>
  <ion-toolbar>

    

  </ion-toolbar>

  <mat-expansion-panel class="{{order.order_number}}" (click)="expanded(order.order_number)" hideToggle *ngFor="let order of orderList$ | async; let i = index"  >

    <mat-expansion-panel-header >


    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <ion-item *ngFor="let item of order.items; let i = index">


      </ion-item>
    </ng-template>





  </mat-expansion-panel>

</mat-accordion>
