.circle_top{
    position: absolute;
    top: -5%;
    left: -5%;
    width: 35%;
    height: 20%;
    border-radius: 50%;
    background: #FFD700;


}
.upper_part{
top: 20%;
position: relative;
}
.log{
    display: inline;
    position: absolute;
    top: -44%;
    left: -9%;

}
.pops{
    top: 10%;
    position: relative;
}
