

<ion-content>
 <div style="background-color:#90DED7 ;height: 100%;">
  <div color="tertiary" class="circle_top">


  </div>
  <ion-img style="height:20px" class="log" src="../assets/CartalistLogoPirmaryAlt.svg"></ion-img>
   <div class="upper_part center">
    <ion-img style="height:400px" src="../assets/userFirsttimeWelcome.svg"></ion-img>
    </div>
    <div class="center pops"  *ngIf="!register_store">  <ion-button  expand="block" shape="round"  (click)="next()">Get Started </ion-button> </div>
    <div class="center pops"    *ngIf="register_store"><ion-button (click)="storeRegister()">Get Started</ion-button></div>



  </div>

</ion-content>


<!--
  <ion-item>
    <ion-text *ngIf="registeredUserData" color="success"><sub>{{registeredUserData.message | json}}</sub></ion-text>
  </ion-item>
  <ion-item>
    <ion-text color="medium"><sub>Normal User</sub></ion-text>
    <hr>
    <ion-button (click)="next()">Next</ion-button>
  </ion-item>
  <ion-item>
    <ion-text color="danger"><sub>Register Your store</sub></ion-text>
    <hr>
    <ion-button (click)="storeRegister()">Store</ion-button>
  </ion-item>
  {{register_store}}-->
