<ion-header style=" display: contents;">
  <ion-toolbar class="justify-content: center" no-padding color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button  autoHide="false"></ion-menu-button>
    </ion-buttons>

    <img style="max-width: 40%;" src="./assets/logo.svg"/>

    <ion-fab vertical="top" horizontal="end" style="top: -0.1px;" slot="fixed">
      <ion-fab-button size="small"> </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="top" horizontal="end" style="top: -0.1px;" slot="fixed">
      <ion-fab-button size="small">
        <ion-icon color="secondary" name="person"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab
      vertical="top"
      style="right: 55px; top: -0.1px;"
      horizontal="end"
      slot="fixed"
    >
      <ion-fab-button size="small">
        <ion-icon color="secondary" name="desktop"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-toolbar>
</ion-header>
