

.product{
	height: 73vh;
    min-width: 43vw;
    display: inline;
    margin:12px;
     border-radius: 25px;
     float:left
}

    .container{

        overflow-x: auto;
         display: flex;
    }
      
    